
<app-homework-header></app-homework-header>
<app-homework-carousel></app-homework-carousel>

<section  class="container-fluid pt-5 pb-5 bg-dark text-dark">
    <app-homework-smartphone ></app-homework-smartphone>
</section> 
<section class="container-fluid pt-5 pb-5 bg-dark text-dark">
    <app-homework-laptop ></app-homework-laptop>
</section> 
<app-modal  [productItem]="detail"></app-modal>
<section id="promotion" class="container-fluid pt-5 pb-5 bg-dark">
    <app-homework-footer></app-homework-footer>
</section>
 
