<div class="card bg-light" style="width:300px">
  <img class="card-img-top" src="/assets/img/{{ productItem.img }}" alt="Card image" style="max-width:100%; height: 250px;">
  <div class="card-body text-center">
    <h4 class="card-title text-center">{{ productItem.name }}</h4>
    <p class="card-text" *ngIf="isHide">{{ productItem.des }}</p>
    <a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#detail" (click)="detailProduct()">Detail</a>
    <a class="btn btn-warning" (click)="hideDes()" *ngIf="isHide else showDes">Hide Des</a>
  </div>
</div>

<ng-template #showDes>
  <a class="btn btn-warning" (click)="hideDes()">Show Des</a>
</ng-template>